<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

		<title>Eat Burgerz</title>

		 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
        crossorigin="anonymous">

		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> <!-- ****Change later**** TRY TO FIGURE OUT WHY JS is not connecting -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/models/burger.js"></script> <!-- for some reason models isnt found -->
		<script src="/public/assets/js/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
