<h1>Burgers</h1>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
     <div>{{burgers}}</div> 
    {{/unless}}
  {{/each}}
</ul>

<h2>DEVOURED</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <div>{{burgers}}</div>
    {{/if}}
  {{/each}}
</ul>

<h2>Add Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Devour?</label><br>
    <input type="radio" name="sleepy" value="1" checked> DEVOUR IT<br>
    <input type="radio" name="sleepy" value="0"> Save for later
  </div>

  <button type="submit">Add Burger</button>
</form>




