<h1>Devour the Burgers</h1>

<div class = "container">
  <div class = "row">
    <div class = "col-6">
          <h2>BURGERZ</h2>

          <ul>
            {{#each burgers}}
              {{#unless devoured}}
              <li class="list-group-item">
              {{burger_name}}
              <button id="{{id}}" type="button" class="eat btn btn-outline-warning">DEVOUR</button>
              {{/unless}}
            {{/each}}
          </ul>
    </div>
    <div class = "col-6">
          <h2>DEVOURED</h2>

          <ul>
            {{#each burgers}}
              {{#if devoured}}
               <li class="devour list-group-item">
               {{burger_name}}
              {{/if}}
            {{/each}}
          </ul>
    </div>
  </div>
</div>
<h2>Add Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Devour?</label><br>
    <input type="radio" name="sleepy" value="1" checked> DEVOUR IT<br>
    <input type="radio" name="sleepy" value="0"> Save for later
  </div>

  <button type="submit">Add Burger</button>
</form>




