body {
  background-color: white;
  color: black;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  .create-form, h2, h1 {
    text-align: center;
  }

  .create-form {
    background-color: red;
    color: white;
    border-radius: 10%;
    padding: 25px;
    margin-left: 400px;
    margin-right: 400px;
  }

  #bold {
    font-weight: bold;
  }